.form-control {
    width: 10vw;
    height: 30px;
    padding: 5px;
    font-size: 12px;
    color: #0a0a0a;
    font-weight: bold;
}

.basic-line {
    border: 1px solid #0a0a0a;
    padding: 0; !important;
    margin-bottom: 10px;!important;
    margin-left: 0; !important;
}

.border-left {
    border-left: 2px solid #9a9191;
}

.form-element {
    display: flex;
    align-items: center;
    gap: 10px;
}

.custom-address {
    width: 90%;
    height: 80px;
    padding: 10px;
    font-size: 12px;
}


table a {
    color: #007bff;
    text-decoration: none;
}

.no-padding {
    padding: 0 !important;
}

.row {
    padding: 0 !important;
    padding-bottom: 1vh !important;

}

.col {
    padding-bottom: 1vh;
    padding-left: 1vh;
    padding-top: 0;
    padding-right: 0;
}


.selected-row {
    background-color: #d3d3d3;
}

.invalid-feedback {
    color: red;
    font-size: 0.875em;
    display: block;
}

.row {
    padding: 20px;
    overflow: auto;
}

.col {
    margin: 0;
    padding: 0;
}

.form-errors .alert {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
}

.form-errors .alert p {
    margin: 0;
    padding: 0;
    font-size: 0.875em;
}


#form_submit {
    display: block;
    margin-top: 1rem;
}

.form-error-alert {
    height: 40px;
    background-color: #f2dede;
    padding-top: 0;
    padding-bottom: 0;

    color: #a94442;
}

.text-error {
    color: red;
}

.alert.info {
    background-color: #d9edf7;
    color: #31708f;
}

.alert.error {
    background-color: #f2dede;
    color: #a94442;
}

.alert.success {
    background-color: #dff0d8;
    color: #3c763d;
}

.alert.warning {
    background-color: #fcf8e3;
    color: #8a6d3b;
}

.alert.danger {
    background-color: #f2dede;
    color: #a94442;
}

.form-label {
    font-size: 12px;
    color: #333;
    min-width: 70px;
    text-align: right;
    margin: 0;
!important
}

#price_table_id,
#consolidation_status_form {
    width: 40px;
}

#email-form,
#print_name_form,
#name_form {
    width: 12vw;
}

#state-code-form {
    width: 30px;
}

#postal_code_form {
    width: 85px;
}

#billing_stat_form {
    width: 90px;
}

#address-form {
    width: 30vw;
}


.form-control::placeholder {
    color: #aaa;
    opacity: 1;
}

#sale_state_form,
#stock_option_forms {
    width: 100px;
}

#gst_tax_form ,
#taxes_rate_form {
    width: 75px;
}

#price_rate {
    width: 80px;
}

#discount_form {
    width: 60px;
}