{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

{% block stylesheets %}
    <style>
        table a {
            color: #007bff;
            text-decoration: none;
        }

        .selected-row {
            background-color: #d3d3d3;
        }

        .invalid-feedback {
            color: red;
            font-size: 0.875em;
            display: block;
        }

        .row {
            padding: 20px;
        }

        .form-errors .alert {
            color: #fff;
            background-color: #dc3545;
            border-color: #dc3545;
            padding: 0.75rem 1.25rem;
            margin-bottom: 1rem;
        }

        .form-errors .alert p {
            margin: 0;
            padding: 0;
            font-size: 0.875em;
        }


        #form_submit {
            display: block;
            margin-top: 1rem;
        }


    </style>
{% endblock stylesheets %}
{% load static %}
{% block content %}

    <div class="pb-4">
        <h1>{{ label }}</h1>
        {% if flag == 'create' %}
            <a href="{% url 'get_customer_modal' %}">
                <button class="btn btn-tertiary" type="button">Update</button>
            </a>
            <a href="{% url 'view_customer' %}">
                <button class="btn btn-success" type="button">View</button>
            </a>
        {% endif %}

        {% if flag != 'create' %}
            <a href="{% url 'create_customer' %}">
                <button class="btn btn-info" type="button">Create</button>
            </a>
            <a href="{% url 'get_customer_modal' %}">
                <button class="btn btn-tertiary" type="button">Update</button>
            </a>
            {% if flag != 'view' %}
                <a href="{% url 'view_customer' %}">
                    <button class="btn btn-success" type="button">View</button>
                </a>
            {% endif %}
        {% endif %}
    </div>
    {% if flag == 'view' %}

        <form class="navbar-search form-inline" id="navbar-search-main" method="post"
              action="{% url 'view_manufacturer' %}">
            {% csrf_token %}
            <div class="input-group input-group-merge search-bar pb-4">
                <a href="{% url 'view_customer' %}">
                    <button type="button" class="btn-sm btn-warning">reset</button>
                </a>

                <input type="text" class="form-control" id="top_bar_InputIconLeft" placeholder="Search"
                       aria-label="Search" aria-describedby="topbar-addon" style="max-width: 25%"
                       oninput="autocomplete_()" name="customer_name" autocomplete="off">
                <button type="submit" class="input-group-text" id="topbar-addon">
                    <svg class="icon icon-xs" x-description="Heroicon name: solid/search"
                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                         aria-hidden="true">
                        <path fill-rule="evenodd"
                              d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                              clip-rule="evenodd"></path>
                    </svg>
                </button>

            </div>
        </form>
        <div class="card border-0 shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-centered table-nowrap mb-0 rounded">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Print Name</th>
                            <th scope="col">Short Name</th>
                            <th scope="col">Contact</th>
                            <th scope="col">Email</th>
                        </tr>
                        </thead>
                        <!-- Item -->
                        <tbody>
                        {% for customer in customer_data %}
                            <tr id="row-{{ customer.id }}">
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>
                                    <a href="{% url 'update_customer' customer.id %}">{{ customer.customer_name }}</a>
                                </td>
                                <td>{{ customer.print_name }}</td>
                                <td>{{ customer.sh_name }}</td>
                                <td>{{ customer.contact }}</td>
                                <td>{{ customer.email }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <!-- End of Item -->
                    </table>
                </div>
                <form method="GET" action="{% url 'view_customer' %}">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link"
                                   href="?page={% if page_obj.has_previous %}1{% else %}#{% endif %}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">First</span>
                                </a>
                            </li>
                            {% if page_obj.has_previous %}
                                <li class="page-item"><a class="page-link"
                                                         href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                                </li>
                            {% endif %}

                            <li class="page-item active"><a class="page-link"
                                                            href="#">{{ page_obj.number }}</a></li>
                            {% if page_obj.has_next %}
                                <li class="page-item"><a class="page-link"
                                                         href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                                </li>
                            {% endif %}

                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"
                               aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Last</span>
                            </a>
                        </ul>
                    </nav>
                </form>
            </div>
        </div>
    {% endif %}
    <!-- Button trigger modal -->
    {% if flag == 'modal' %}

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Select Customer</h5>
                    </div>
                    <div class="modal-body" style="max-height: 70vh; overflow-y: auto">
                        <form method="GET" action="{% url 'get_customer_modal' %}">
                            <div class="table-responsive">
                                <table class="table table-centered table-nowrap mb-0 rounded">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Print Name</th>
                                        <th scope="col">Sh Name</th>
                                        <th scope="col">Email</th>
                                    </tr>
                                    </thead>
                                    <!-- Item -->
                                    <tbody>
                                    {% for customer in customer_data %}
                                        <tr id="row-{{ customer.id }}"
                                            onclick="selectCustomer('{{ customer.id }}')">
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td>{{ customer.customer_name }}</td>
                                            <td>{{ customer.print_name }}</td>
                                            <td>{{ customer.sh_name }}</td>
                                            <td>{{ customer.email }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <!-- End of Item -->
                                </table>
                            </div>
                            <div>
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="?page={% if page_obj.has_previous %}1{% else %}#{% endif %}"
                                           aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">First</span>
                                        </a>
                                    </li>
                                    {% if page_obj.has_previous %}
                                        <li class="page-item"><a class="page-link"
                                                                 href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                                        </li>
                                    {% endif %}

                                    <li class="page-item active"><a class="page-link"
                                                                    href="#">{{ page_obj.number }}</a></li>
                                    {% if page_obj.has_next %}
                                        <li class="page-item"><a class="page-link"
                                                                 href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                                        </li>
                                    {% endif %}

                                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"
                                       aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Last</span>
                                    </a>
                                </ul>
                            </div>
                        </form>
                    </div>
                    <form method="post" action="{% url 'get_customer_modal' %}">
                        {% csrf_token %}
                        <div class="modal-footer">
                            <a href="{% url 'create_customer' %}">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </a>
                            <button type="submit" class="btn btn-tertiary" id="submit_selected_record"
                                    name="submit_selected_record" value="" style="display: flex">Update
                            </button>
                            <button type="submit" class="btn btn-danger" id="delete_selected_record"
                                    name="delete_selected_record" value="" style="display: flex">Delete
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
    {% if flag != 'view' %}
        <form method="post">
            {% csrf_token %}
            <div class="form-errors">
                {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-errors">
                {% for field in form %}
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            {% for error in field.errors %}
                                <p><strong>{{ field.label }}:</strong> {{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {#            <div class="form-container">#}
            <div class="container">
                <div class="row">
                    <div class="col">
                        <label for="{{ form.customer_name.id_for_label }}">{{ form.customer_name.label }}</label>
                        {{ form.customer_name }}
                    </div>
                    <div class="col">
                        <label for="{{ form.print_name.id_for_label }}">{{ form.print_name.label }}</label>
                        {{ form.print_name }}
                    </div>
                    <div class="col">
                        <label for="{{ form.sh_name.id_for_label }}">{{ form.sh_name.label }}</label>
                        {{ form.sh_name }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-8 col-lg-6">
                        <label for="{{ form.contact.id_for_label }}">{{ form.contact.label }}</label>
                        {{ form.contact }}
                    </div>
                    <div class="col-md-6 col-sm-8 col-lg-6">
                        <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                        {{ form.email }}
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6 col-sm-8 col-lg-6">
                        <label for="{{ form.address.id_for_label }}">{{ form.address.label }}</label>
                        {{ form.address }}
                    </div>
                </div>
            </div>
            <div class="row" style="justify-content: center;">
                <div class="col-auto">
                    <button class="btn btn-danger" type="submit" name="submit_record" id="form_submit">
                        Save
                    </button>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script src="{% static 'assets/js/master.js' %}"></script>

    <script>

        function autocomplete_() {
            var manufacturerNames = JSON.parse('{{ dataJson | escapejs}}');
            var input = document.getElementById('top_bar_InputIconLeft');
            var term = input.value.toLowerCase();
            if (term.length >= 3) {
                var matchingNames = manufacturerNames.filter(name =>
                    name.toLowerCase().includes(term)
                );
                console.log(matchingNames)
                input.setAttribute("list", "autocomplete-list");
                var datalist = document.getElementById("autocomplete-list");
                if (datalist) {
                    datalist.remove();
                }

                datalist = document.createElement("datalist");
                datalist.id = "autocomplete-list";
                matchingNames.forEach(name => {
                    var option_element = document.createElement("option");
                    option_element.value = name;
                    datalist.appendChild(option_element);
                });
                input.parentNode.appendChild(datalist);
            } else {
                // Clear the autocomplete options
                input.setAttribute("list", "");
            }
        }
    </script>
{% endblock javascripts %}