{% extends 'billing/selection_list_extended.html' %}


{% block modal_display %}
    <div class="table-responsive">
        <table class="table table-centered table-nowrap mb-0 rounded">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Sh Name</th>
                <th scope="col">Pin Code</th>
                <th scope="col">E Way ID</th>
            </tr>
            </thead>
            <tbody>
            {% for carrier in data %}
                <tr id="row-{{ carrier.id }}"
                    onclick="selectList('{{ carrier.id }}')">
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ carrier.name }}</td>
                    <td>{{ carrier.sh_name }}</td>
                    <td>{{ carrier.pin_code }}</td>
                    <td>{{ carrier.e_way_id }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <!-- End of Item -->
        </table>
    </div>
{% endblock %}

{% block modal_post_request %}
    <form method="post" action="{% url 'get_carriers_modal' %}">
        {% csrf_token %}
        <div class="modal-footer">
            <a href="{% url create_url %}">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </a>
            {% if flag == 'modal' %}
                <button type="submit" class="btn btn-tertiary" id="submit_selected_record"
                        name="submit_selected_record" value="" style="display: flex">Update
                </button>
            {% endif %}
            {% if flag == 'delete' %}
                <button type="submit" class="btn btn-danger" id="delete_selected_record"
                        name="delete_selected_record" value="" style="display: flex">Delete
                </button>
            {% endif %}
        </div>
    </form>
{% endblock modal_post_request %}



{% block master-view %}
    <div class="table-responsive">
        <table class="table table-centered table-nowrap mb-0 rounded">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Sh Name</th>
                <th scope="col">Pin Code</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <!-- Item -->
            <tbody>

            {% for carrier in data %}
                <tr id="row-{{ carrier.id }}">
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><a href="{% url 'update_carriers' carrier.id %}">{{ carrier.name }}</a></td>
                    <td>{{ carrier.sh_name }}</td>
                    <td>{{ carrier.pin_code }}</td>
                    <td>{{ carrier.area_status }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


{% block create_form %}

    {% if flag == 'create' or flag == 'update' %}
        <form method="post">
            {% csrf_token %}
            {% include 'billing/form_errors.html' with form=form %}

            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-8">
                        <div class="row justify-content-between">
                            <div class="col-lg-auto col-md-auto" style="gap: 0;margin: 0;padding:0">
                                <div class="form-element">
                                    <label class="form-label" style="min-width: 4.3vw"
                                           for="{{ form.name.id_for_label }}">{{ form.name.label }}:</label>
                                    {{ form.name }}
                                </div>
                            </div>
                            <div class="col-lg-auto col-md-auto">
                                <div class="form-element" style="margin-right: 2vw">
                                    <label class="form-label" style="min-width: 3.2vw"
                                           for="{{ form.sh_name.id_for_label }}">{{ form.sh_name.label }}:</label>
                                    <span class="form-items">
                                    {{ form.sh_name }}
                                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col-md-auto col-lg-auto" style="gap: 0;margin: 0;padding:0">
                                <div class="form-element">
                                    <label class="form-label"  style="min-width: 4.3vw"
                                           for="{{ form.city.id_for_label }}">{{ form.city.label }}:</label>
                                    {{ form.city }}
                                </div>
                            </div>
                            <div class="col-md-auto col-lg-auto">
                                <div class="form-element" style="margin-right: 2vw">
                                    <label class="form-label" style="min-width: 4.1vw"
                                           for="{{ form.state_name.id_for_label }}">{{ form.state_name.label }}</label>
                                    {{ form.state_name }}
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-start">
                            <div class="col-md-auto col-lg-auto" style="gap: 0;margin: 0;padding:0">
                                <div class="form-element">
                                    <label class="form-label" style="min-width: 4.3vw"
                                           for="{{ form.postal_code.id_for_label }}">{{ form.postal_code.label }}:</label>
                                    {{ form.postal_code }}
                                </div>
                            </div>
                        </div>
                        {#                        <div class="row justify-content-between">#}
                        {#                            <div class="col-lg-auto col-md-auto" style="gap: 0;margin: 0;padding:0">#}
                        {#                                <div class="form-element">#}
                        {#                                    <label class="form-label" style="min-width: 3.5vw"#}
                        {#                                           for="{{ form.company.id_for_label }}">{{ form.company.label }}:</label>#}
                        {#                                    {{ form.company }}#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {##}
                        {#                        </div>#}
                        <div class="row justify-content-between">
                            <div class="col-lg-auto col-md-auto" style="gap: 0;margin: 0;padding:0">
                                <div class="form-element">
                                    <label class="form-label" style="min-width: 4.1vw"
                                           for="{{ form.address.id_for_label }}">{{ form.address.label }}</label>
                                    {{ form.address }}
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-8" style="display: flex;flex-direction: column">

                        <div class="row justify-content-start">
                            <div class="col-md-auto col-lg-auto" style="gap: 0;margin: 0;padding:0">
                                <div class="form-element">
                                    <label class="form-label"
                                           for="{{ form.regn_no.id_for_label }}">{{ form.regn_no.label }}:</label>
                                    {{ form.regn_no }}
                                </div>
                            </div>
                            <div class="col-md-auto col-lg-auto">
                                <div class="form-element">
                                    <label class="form-label" style="min-width: 4.6vw"
                                           for="{{ form.telephone.id_for_label }}">{{ form.telephone.label }}</label>
                                    {{ form.telephone }}
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-start">
                            <div class="col-md-auto col-lg-auto" style="gap: 0;margin: 0;padding:0">
                                <div class="form-element">
                                    <label class="form-label"
                                           for="{{ form.mobile_number.id_for_label }}">{{ form.mobile_number.label }}:</label>
                                    {{ form.mobile_number }}
                                </div>
                            </div>
                            <div class="col-md-auto col-lg-auto">
                                <div class="form-element">
                                    <label class="form-label" style="min-width: 4.6vw"
                                           for="{{ form.fax.id_for_label }}">{{ form.fax.label }}</label>
                                    {{ form.fax }}
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-start">
                            <div class="col-md-auto col-lg-auto" style="gap: 0;margin: 0;padding:0">
                                <div class="form-element">
                                    <label class="form-label"
                                           for="{{ form.gstin.id_for_label }}">{{ form.gstin.label }}:</label>
                                    {{ form.gstin }}
                                </div>
                            </div>
                            <div class="col-md-auto col-lg-auto">
                                <div class="form-element">
                                    <label class="form-label" style="min-width: 4.6vw"
                                           for="{{ form.e_way_id.id_for_label }}">{{ form.e_way_id.label }}</label>
                                    {{ form.e_way_id }}
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col-lg-auto col-md-auto" style="gap: 0;margin: 0;padding:0">
                                <div class="form-element">
                                    <label class="form-label" style="min-width: 4.1vw"
                                           for="{{ form.remarks.id_for_label }}">{{ form.remarks.label }}</label>
                                    {{ form.remarks }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="post_form" style="padding: 10px">
                <div class="row" style="justify-content: center">
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}