{% extends 'billing/master_extended.html' %}

{% block master-view %}


    <div class="table-responsive">
        <table class="table table-centered table-nowrap mb-0 rounded">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Print Name</th>
                <th scope="col">Short Name</th>
                <th scope="col">Contact</th>
                <th scope="col">Email</th>
            </tr>
            </thead>
            <!-- Item -->
            <tbody>
            {% for customer in master_data %}
                <tr id="row-{{ customer.id }}">
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>
                        <a href="{% url update_url customer.id %}">{{ customer.customer_name }}</a>
                    </td>
                    <td>{{ customer.print_name }}</td>
                    <td>{{ customer.sh_name }}</td>
                    <td>{{ customer.contact1 }}</td>
                    <td>{{ customer.email }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <!-- End of Item -->
        </table>
    </div>
{% endblock %}
{% block modal_display %}

    <div class="table-responsive">
        <table class="table table-centered table-nowrap mb-0 rounded">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Print Name</th>
                <th scope="col">Sh Name</th>
                <th scope="col">Email</th>
            </tr>
            </thead>
            <!-- Item -->
            <tbody>
            {% for customer in master_data %}
                <tr id="row-{{ customer.id }}"
                    onclick="selectMaster('{{ customer.id }}')">
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ customer.customer_name }}</td>
                    <td>{{ customer.print_name }}</td>
                    <td>{{ customer.sh_name }}</td>
                    <td>{{ customer.email }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <!-- End of Item -->
        </table>
    </div>
{% endblock %}

{% block modal_post_request %}
    <form method="post" action="{% url 'get_customer_modal' %}">
        {% csrf_token %}
        <div class="modal-footer">
            <a href="{% url create_url %}">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </a>
            {% if flag == 'modal' and flag != 'delete' %}
                <button type="submit" class="btn btn-tertiary" id="submit_selected_record"
                        name="submit_selected_record" value="" style="display: flex">Update
                </button>
            {% endif %}
            {% if flag != 'modal' and flag == 'delete' %}
                <button type="submit" class="btn btn-danger" id="delete_selected_record"
                        name="delete_selected_record" value="" style="display: flex">Delete
                </button>
            {% endif %}
        </div>
    </form>
{% endblock modal_post_request %}

{% block create_form %}

    {% if flag != 'view' and flag != 'modal' and flag != 'delete' %}
        <form method="post">
            {% csrf_token %}
            {% include 'billing/form_errors.html' with form=customer_form %}
            {% include 'billing/form_errors.html' with form=location_form %}
            <div class="container">

                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-8" style="display: flex;flex-direction: column">
                        <div class="row justify-content-between">
                            <div class="col">
                                <div class="form-element">
                                    <label class="form-label" style="min-width: 60px"
                                           for="{{ customer_form.customer_name.id_for_label }}">{{ customer_form.customer_name.label }}</label>
                                    {{ customer_form.customer_name }}
                                </div>
                            </div>
                            <div class="col-lg-auto col-md-auto ">
                                <div class="form-element" style="margin-right: 2vw">
                                    <label class="form-label" style="min-width: 3.2vw"
                                           for="{{ customer_form.telephone.id_for_label }}">{{ customer_form.telephone.label }}:</label>
                                    <span class="form-items">
                                    {{ customer_form.telephone }}
                                        </span>
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-between">
                            <div class="col-lg-auto col-md-auto" style="gap: 0;margin: 0;padding:0">
                                <div class="form-element">
                                    <label class="form-label" style="min-width: 55px"
                                           for="{{ customer_form.print_name.id_for_label }}">{{ customer_form.print_name.label }}</label>
                                    {{ customer_form.print_name }}
                                </div>
                            </div>
                            <div class="col-lg-auto col-md-auto">
                                <div class="form-element" style="margin-right: 2vw">
                                    <label class="form-label" style="min-width: 4.1vw"
                                           for="{{ customer_form.mobile_number.id_for_label }}">{{ customer_form.mobile_number.label }}:</label>

                                    {{ customer_form.mobile_number }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-auto col-lg-auto" style="gap: 0;margin: 0;padding:0">
                                <div class="form-element">
                                    <label class="form-label" style="min-width: 4.5vw"
                                           for="{{ customer_form.sh_name.id_for_label }}">{{ customer_form.sh_name.label }}</label>
                                    {{ customer_form.sh_name }}
                                </div>
                            </div>

                            <div class="col-md-auto col-lg-auto" style="gap: 0;margin: 0;padding:0">
                                <div class="form-element">
                                    <label class="form-label" style="min-width: 10vw"
                                           for="{{ location_form.postal_code.id_for_label }}">{{ location_form.postal_code.label }}:</label>
                                    {{ location_form.postal_code }}
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-between">
                            <div class="col-md-auto col-lg-auto"
                                 style="gap: 0;margin: 0;padding:0;justify-content: start">
                                <div class="form-element">
                                    <label class="form-label" style="min-width: 4.5vw"
                                           for="{{ customer_form.contact1.id_for_label }}">{{ customer_form.contact1.label }}:</label>
                                    {{ customer_form.contact1 }}
                                </div>
                            </div>
                            <div class="col-md-auto col-lg-auto"
                                 style="gap: 0;margin: 0;padding:0;justify-content: end">
                                <div class="form-element" style="margin-right: 3vw">
                                    <label class="form-label" style="min-width: 3vw"
                                           for="{{ customer_form.contact2.id_for_label }}">{{ customer_form.contact2.label }}:</label>
                                    {{ customer_form.contact2 }}
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-between">
                            <div class="col-md-auto col-lg-auto" style="gap: 0;margin: 0;padding:0">
                                <div class="form-element">
                                    <label class="form-label" style="min-width: 4.5vw"
                                           for="{{ customer_form.email.id_for_label }}">{{ customer_form.email.label }}:</label>
                                    {{ customer_form.email }}
                                </div>
                            </div>
                            <div class="col-md-auto col-lg-auto" style="gap: 0;margin: 0;padding:0">
                                <div class="form-element" style="margin-right: 3vw">
                                    <label class="form-label" style="min-width: 50px"
                                           for="{{ location_form.state_name.id_for_label }}">{{ location_form.state_name.label }}:</label>
                                    {{ location_form.state_name }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-auto col-lg-auto" style="gap: 0;margin: 0;padding:0">
                                <div class="form-element mb-0" style="margin-right: 1.5vw">
                                    <label class="form-label" style="min-width: 4.8vw"
                                           for="{{ location_form.state_code.id_for_label }}">{{ location_form.state_code.label }}:</label>
                                    {{ location_form.state_code }}
                                </div>
                            </div>
                            <div class="col-md-auto col-lg-auto" style="gap: 0;margin: 0;padding:0">
                                <div class="form-element" style="margin-right: 1.5vw">
                                    <label class="form-label" style="min-width: 4.5vw"
                                           for="{{ location_form.sale_state.id_for_label }}">{{ location_form.sale_state.label }}:</label>
                                    {{ location_form.sale_state }}
                                </div>
                            </div>

                            <div class="col-md-auto col-lg-auto" style="gap: 0;margin: 0;padding:0">
                                <div class="form-element" style="margin-right: 1vw">
                                    <label class="form-label" style="min-width: 2vw"
                                           for="{{ location_form.city.id_for_label }}">{{ location_form.city.label }}:</label>
                                    {{ location_form.city }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-element">
                                <label class="form-label" style="min-width: 2.6vw"
                                       for="{{ location_form.address.id_for_label }}">{{ location_form.address.label }}:</label>
                                {{ location_form.address }}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-6 col-sm-8">
                        <div class="row">
                            <div class="col">
                                <div class="form-element">
                                    <label class="form-label" style="min-width: 40px"
                                           for="{{ customer_form.id_no.id_for_label }}">{{ customer_form.id_no.label }}:</label>

                                    {{ customer_form.id_no }}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-element">
                                    <label class="form-label"
                                           for="{{ customer_form.sale_type.id_for_label }}">{{ customer_form.sale_type.label }}:</label>
                                    {{ customer_form.sale_type }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-element">
                                    <label class="form-label" style="min-width: 40px"
                                           for="{{ customer_form.area.id_for_label }}">{{ customer_form.area.label }}:</label>
                                    {{ customer_form.area }}
                                </div>

                            </div>
                            <div class="col">
                                <div class="form-element">
                                    <label class="form-label"
                                           for="{{ customer_form.fax.id_for_label }}">{{ customer_form.fax.label }}:</label>
                                    {{ customer_form.fax }}
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-element">
                                    <label class="form-label" style="min-width: 40px"
                                           for="{{ customer_form.sales_representative.id_for_label }}">{{ customer_form.sales_representative.label }}:</label>
                                    {{ customer_form.sales_representative }}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-element">
                                    <label class="form-label"
                                           for="{{ customer_form.carrier.id_for_label }}">{{ customer_form.carrier.label }}:</label>
                                    {{ customer_form.carrier }}
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-element">
                                    <label class="form-label" style="min-width: 40px"
                                           for="{{ customer_form.gstin.id_for_label }}">{{ customer_form.gstin.label }}:</label>
                                    {{ customer_form.gstin }}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-element">
                                    <label class="form-label"
                                           for="{{ customer_form.license1.id_for_label }}">{{ customer_form.license1.label }}:</label>
                                    {{ customer_form.license1 }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-element">
                                    <label class="form-label" style="min-width: 40px"
                                           for="{{ customer_form.tin.id_for_label }}">{{ customer_form.tin.label }}:</label>
                                    {{ customer_form.tin }}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-element">
                                    <label class="form-label"
                                           for="{{ customer_form.license2.id_for_label }}">{{ customer_form.license2.label }}:</label>
                                    {{ customer_form.license2 }}
                                </div>
                            </div>

                        </div>
                        <div class="row justify-content-end">
                            <div class="col-auto">
                                <div class="form-element" style="margin-right: 2.8vw">
                                    <label class="form-label"
                                           for="{{ customer_form.class_name.id_for_label }}">{{ customer_form.class_name.label }}:</label>
                                    {{ customer_form.class_name }}
                                </div>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col">
                                <div class="form-element" style="gap: 0">
                                    <label class="form-label" style="min-width: 40px;"
                                           for="{{ customer_form.price_table.id_for_label }}">{{ customer_form.price_table.label }}:</label>
                                    {{ customer_form.price_table }}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-element" style="gap: 0">
                                    <label class="form-label" style="min-width:70px;"
                                           for="{{ customer_form.billing_stat.id_for_label }}">{{ customer_form.billing_stat.label }}:</label>
                                    {{ customer_form.billing_stat }}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-element" style="gap: 0">
                                    <label class="form-label" style="min-width: 20px;"
                                           for="{{ customer_form.price_option.id_for_label }}">{{ customer_form.price_option.label }}:</label>
                                    {{ customer_form.price_option }}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-8" style="display: flex;flex-direction: column">
                        <div class="form-group">

                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-8 border-left" style="display: flex;flex-direction: column">
                    </div>
                </div>
                <div class="row" style="justify-content: center;">
                    <div class="col-auto">
                        <button class="btn btn-danger" type="submit" name="submit_record" id="form_submit">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}