{% extends 'billing/master_extended.html' %}

{% block master-view %}


    <div class="table-responsive">
        <table class="table table-centered table-nowrap mb-0 rounded">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Print Name</th>
                <th scope="col">Short Name</th>
                <th scope="col">Contact</th>
                <th scope="col">Email</th>
            </tr>
            </thead>
            <!-- Item -->
            <tbody>
            {% for customer in master_data %}
                <tr id="row-{{ customer.id }}">
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>
                        <a href="{% url update_url customer.id %}">{{ customer.customer_name }}</a>
                    </td>
                    <td>{{ customer.print_name }}</td>
                    <td>{{ customer.sh_name }}</td>
                    <td>{{ customer.contact }}</td>
                    <td>{{ customer.email }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <!-- End of Item -->
        </table>
    </div>
{% endblock %}
{% block modal_display %}

    <div class="table-responsive">
        <table class="table table-centered table-nowrap mb-0 rounded">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Print Name</th>
                <th scope="col">Sh Name</th>
                <th scope="col">Email</th>
            </tr>
            </thead>
            <!-- Item -->
            <tbody>
            {% for customer in master_data %}
                <tr id="row-{{ customer.id }}"
                    onclick="selectMaster('{{ customer.id }}')">
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ customer.customer_name }}</td>
                    <td>{{ customer.print_name }}</td>
                    <td>{{ customer.sh_name }}</td>
                    <td>{{ customer.email }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <!-- End of Item -->
        </table>
    </div>
{% endblock %}
{% block create_form %}

    {% if flag != 'view' and flag != 'modal' and flag != 'delete' %}
        <form method="post">
            {% csrf_token %}
            {% csrf_token %}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <div class="d-flex justify-content-center">
                        <div class="alert form-error-alert alert-dismissible fade show" role="alert">
                            {{ error }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% for field in form %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="d-flex justify-content-center">
                            <div class="alert form-error-alert alert-dismissible fade show" role="alert">
                                <p><u><strong>{{ field.label }}:</strong></u> {{ error }}</p>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            {#            <div class="form-container">#}
            <div class="container">
                <div class="row">
                    <div class="col">
                        <label for="{{ form.customer_name.id_for_label }}">{{ form.customer_name.label }}</label>
                        {{ form.customer_name }}
                    </div>
                    <div class="col">
                        <label for="{{ form.print_name.id_for_label }}">{{ form.print_name.label }}</label>
                        {{ form.print_name }}
                    </div>
                    <div class="col">
                        <label for="{{ form.sh_name.id_for_label }}">{{ form.sh_name.label }}</label>
                        {{ form.sh_name }}
                    </div>
                    <div class="col">
                        <label for="{{ form.contact.id_for_label }}">{{ form.contact.label }}</label>
                        {{ form.contact }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                        {{ form.email }}
                    </div>
                    <div class="col">
                        <label for="{{ form.city.id_for_label }}">{{ form.city.label }}</label>
                        {{ form.city }}
                    </div>
                    <div class="col">
                        <label for="{{ form.postal_code.id_for_label }}">{{ form.postal_code.label }}</label>
                        {{ form.postal_code }}
                    </div>
                    <div class="col">
                        <label for="{{ form.state_name.id_for_label }}">{{ form.state_name.label }}</label>
                        {{ form.state_name }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="{{ form.state.id_for_label }}">{{ form.state.label }}</label>
                        <select class="form-select" aria-label="Default select example"
                                name="{{ form.state.name }}" required>
                            {% for value, label in form.state.field.choices %}
                                <option value="{{ value }}"
                                        {% if form.state.value == value %}selected{% endif %}>
                                    {{ label }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <label for="{{ form.gstin.id_for_label }}">{{ form.gstin.label }}</label>
                        {{ form.gstin }}
                    </div>
                    <div class="col">
                        <label for="{{ form.license1.id_for_label }}">{{ form.license1.label }}</label>
                        {{ form.license1 }}
                    </div>
                    <div class="col">
                        <label for="{{ form.license2.id_for_label }}">{{ form.license2.label }}</label>
                        {{ form.license2 }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="{{ form.sale_type.id_for_label }}">{{ form.sale_type.label }}</label>
                        {{ form.sale_type }}
                    </div>
                    <div class="col">
                        <label for="{{ form.id_no.id_for_label }}">{{ form.id_no.label }}</label>
                        {{ form.id_no }}
                    </div>
                    <div class="col">
                        <label for="{{ form.billing_stat.id_for_label }}">{{ form.billing_stat.label }}</label>
                        {{ form.billing_stat }}
                    </div>
                    <div class="col">
                        <label for="{{ form.address.id_for_label }}">{{ form.address.label }}</label>
                        {{ form.address }}
                    </div>
                </div>
            </div>
            <div class="row" style="justify-content: center;">
                <div class="col-auto">
                    <button class="btn btn-danger" type="submit" name="submit_record" id="form_submit">
                        Save
                    </button>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}