{% extends 'billing/master_extended.html' %}

{% block master-view %}
    <div class="table-responsive">
        <table class="table table-centered table-nowrap mb-0 rounded">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product Name</th>
                <th scope="col">Product Code</th>
                <th scope="col">Manufacturer</th>
                <th scope="col">Buy Rate</th>
                <th scope="col">Sell Rate</th>
            </tr>
            </thead>
            <tbody>
            {% for product in master_data %}
                <tr id="row-{{ product.id }}">
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><a href="{% url update_url product.id %}">{{ product.product_name }}</a>
                    </td>
                    <td>{{ product.product_code }}</td>
                    <td>{{ product.manufacturer__name }}</td>
                    <td>{{ product.buy_rate }}</td>
                    <td>{{ product.sell_rate }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block modal_display %}

    <div class="table-responsive">
        <table class="table table-centered table-nowrap mb-0 rounded">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product Name</th>
                <th scope="col">Product Code</th>
                <th scope="col">Manufacturer</th>
                <th scope="col">Buy Rate</th>
                <th scope="col">Sell Rate</th>
            </tr>
            </thead>
            <!-- Item -->
            <tbody>
            {% for product in master_data %}
                <tr id="row-{{ product.id }}"
                    onclick="selectMaster('{{ product.id }}')">
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ product.product_name }}</td>
                    <td>{{ product.product_code }}</td>
                    <td>{{ product.manufacturer__name }}</td>
                    <td>{{ product.buy_rate }}</td>
                    <td>{{ product.sell_rate }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <!-- End of Item -->
        </table>
    </div>
{% endblock %}

{% block modal_post_request %}
    <form method="post" action="{% url 'get_product_modal' %}">
        {% csrf_token %}
        <div class="modal-footer">
            <a href="{% url create_url %}">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </a>
            {% if flag == 'modal' and flag != 'delete' %}
                <button type="submit" class="btn btn-tertiary" id="submit_selected_record"
                        name="submit_selected_record" value="" style="display: flex">Update
                </button>
            {% endif %}
            {% if flag != 'modal' and flag == 'delete' %}
                <button type="submit" class="btn btn-danger" id="delete_selected_record"
                        name="delete_selected_record" value="" style="display: flex">Delete
                </button>
            {% endif %}
        </div>
    </form>
{% endblock modal_post_request %}


{% block create_form %}

    {% if flag == 'create' or flag == 'update' %}
        <form method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <div class="d-flex justify-content-center">
                        <div class="alert form-error-alert alert-dismissible fade show" role="alert">
                            {{ error }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% for field in form %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="d-flex justify-content-center">
                            <div class="alert form-error-alert alert-dismissible fade show" role="alert">
                                <p><u><strong>{{ field.label }}:</strong></u> {{ error }}</p>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            <div class="container">
               

            </div>
            <div class="row" style="justify-content: center;">
                <div class="col-auto">
                    <button class="btn btn-danger" type="submit" name="submit_record" id="form_submit">
                        Save
                    </button>
                </div>
            </div>
        </form>
    {% endif %}


{% endblock %}
