{% extends 'billing/master_extended.html' %}

{% block modal_display %}
    <div class="table-responsive">
    <table class="table table-centered table-nowrap mb-0 rounded">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Group Id</th>
            <th scope="col">Group Name</th>
            <th scope="col">Print Name</th>
            <th scope="col">Sh Name</th>
            <th scope="col">HSN Code</th>
        </tr>
        </thead>
        <!-- Item -->
        <tbody>
        {% for group in master_data %}
            <tr id="row-{{ group.id }}"
                onclick="selectMasterRemovable('{{ group.id }}','{% if group.product_count > 0 %}1{% else %}0{% endif %}')">
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ group.group_id }}</td>
                <td>{{ group.group_name }}</td>
                <td>{{ group.print_name }}</td>
                <td>{{ group.sh_name }}</td>
                <td>{{ group.hsn_code }}</td>
            </tr>
        {% endfor %}
        </tbody>

        <!-- End of Item -->
    </table>
    <div>
{% endblock %}
{% block master-view %}

    <div class="table-responsive">
        <table class="table table-centered table-nowrap mb-0 rounded">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Group Id</th>
                <th scope="col">Group Name</th>
                <th scope="col">Print Name</th>
                <th scope="col">Sh Name</th>
                <th scope="col">HSN Code</th>
            </tr>
            </thead>
            <tbody>
            {% for group in master_data %}
                <tr id="row-{{ group.id }}">
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ group.group_id }}</td>
                    <td><a href="{% url 'update_group' group.id %}">{{ group.group_name }}</a></td>
                    <td>{{ group.print_name }}</td>
                    <td>{{ group.sh_name }}</td>
                    <td>{{ group.hsn_code }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}



{% block modal_post_request %}
    <form method="post" action="{% url 'get_customer_modal' %}">
        {% csrf_token %}
        <div class="modal-footer">
            <a href="{% url create_url %}">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </a>
            {% if flag == 'modal' and flag != 'delete' %}
                <button type="submit" class="btn btn-tertiary" id="submit_selected_record"
                        name="submit_selected_record" value="" style="display: flex">Update
                </button>
            {% endif %}
            {% if flag != 'modal' and flag == 'delete' %}
                <button type="submit" class="btn btn-danger" id="delete_selected_record"
                        name="delete_selected_record" value="" style="display: flex">Delete
                </button>
            {% endif %}
        </div>
    </form>
{% endblock modal_post_request %}



{% block create_form %}

    {% if flag != 'view' and flag != 'modal' and flag != 'delete' %}

        <form method="post">
            {% csrf_token %}
            <div class="mb-4">
                <div class="form-errors">
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {% for error in form.non_field_errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="form-errors">
                    {% for field in form %}
                        {% if field.errors %}
                            <div class="alert alert-danger">
                                {% for error in field.errors %}
                                    <p><strong>{{ field.label }}:</strong> {{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {#            <div class="form-container">#}


                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-8">
                            <div class="row justify-content-between">
                                <div class="col-lg-auto col-md-auto" style="gap: 0;margin: 0;padding:0">
                                    <div class="form-element">
                                        <label class="form-label" style="min-width: 5.9vw"
                                               for="{{ form.group_id.id_for_label }}">{{ form.group_id.label }}</label>
                                        {{ form.group_id }}
                                    </div>
                                </div>
                                <div class="col-lg-auto col-md-auto">
                                    <div class="form-element" style="margin-right: 2vw">
                                        <label class="form-label" style="min-width: 3.2vw"
                                               for="{{ form.group_name.id_for_label }}">{{ form.group_name.label }}:</label>
                                        <span class="form-items">
                                    {{ form.group_name }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-between">
                                <div class="col-lg-auto col-md-auto" style="gap: 0;margin: 0;padding:0">
                                    <div class="form-element">
                                        <label class="form-label" style="min-width: 5.9vw"
                                               for="{{ form.print_name.id_for_label }}">{{ form.print_name.label }}</label>
                                        {{ form.print_name }}
                                    </div>
                                </div>
                                <div class="col-lg-auto col-md-auto">
                                    <div class="form-element" style="margin-right: 2vw">
                                        <label class="form-label" style="min-width: 4.1vw"
                                               for="{{ form.sh_name.id_for_label }}">{{ form.sh_name.label }}:</label>

                                        {{ form.sh_name }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-8" style="display: flex;flex-direction: column">
                            <div class="row justify-content-start">
                                <div class="col-md-auto col-lg-auto" style="gap: 0;margin: 0;padding:0">
                                    <div class="form-element">
                                        <label class="form-label"
                                               for="{{ form.code_name.id_for_label }}">{{ form.code_name.label }}:</label>
                                        {{ form.code_name }}
                                    </div>
                                </div>
                                <div class="col-md-auto col-lg-auto">
                                    <div class="form-element">
                                        <label class="form-label" style="min-width: 4.1vw"
                                               for="{{ form.consolidation_status.id_for_label }}">{{ form.consolidation_status.label }}</label>
                                        {{ form.consolidation_status }}
                                    </div>
                                </div>
                            </div>

                            <div class="row justify-content-between">
                                <div class="col-md-auto col-lg-auto" style="gap: 0;margin: 0;padding:0">
                                    <div class="form-element">
                                        <label class="form-label"
                                               for="{{ form.hsn_code.id_for_label }}">{{ form.hsn_code.label }}:</label>
                                        {{ form.hsn_code }}
                                    </div>
                                </div>
                                <div class="col-md-auto col-lg-auto">
                                    <div class="form-element" style="margin-right: 2vw">
                                        <label class="form-label" style="min-width: 4.1vw"
                                               for="{{ form.gcr_code.id_for_label }}">{{ form.gcr_code.label }}</label>
                                        {{ form.gcr_code }}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row" style="justify-content: center;">
                    <div class="col-auto">
                        <button class="btn btn-danger" type="submit" name="submit_record" id="form_submit">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </form>

    {% endif %}
{% endblock %}
