{% extends 'billing/master_extended.html' %}


{% block master-view %}
    <div class="table-responsive">
        <table class="table table-centered table-nowrap mb-0 rounded">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Print Name</th>
                <th scope="col">Short Name</th>
                <th scope="col">Contact</th>
            </tr>
            </thead>
            <!-- Item -->
            <tbody>
            {% for manufacturer in master_data %}
                <tr id="row-{{ manufacturer.id }}">
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>
                        <a href="{% url update_url manufacturer.id %}">{{ manufacturer.name }}</a>
                    </td>
                    <td>{{ manufacturer.print_name }}</td>
                    <td>{{ manufacturer.sh_name }}</td>
                    <td>{{ manufacturer.contact }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <!-- End of Item -->
        </table>
    </div>
{% endblock %}


{% block modal_display %}
    <div class="table-responsive">
        <table class="table table-centered table-nowrap mb-0 rounded">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">type</th>
                <th scope="col">Name</th>
                <th scope="col">Print Name</th>
                <th scope="col">Sh Name</th>
            </tr>
            </thead>
            <!-- Item -->
            <tbody>

            {% for manufacturer in master_data %}
                <tr id="row-{{ manufacturer.id }}"
                    onclick="selectMasterRemovable('{{ manufacturer.id }}','{% if manufacturer.product_count > 0 %}1{% else %}0{% endif %}')">
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ manufacturer.type }}</td>
                    <td>{{ manufacturer.name }}</td>
                    <td>{{ manufacturer.print_name }}</td>
                    <td>{{ manufacturer.sh_name }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <!-- End of Item -->
        </table>
    </div>
{% endblock %}
{% block modal_post_request %}
    <form method="post" action="{% url 'get_manufacturer_modal' %}">
        {% csrf_token %}
        <div class="modal-footer">
            <a href="{% url create_url %}">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </a>
            {% if flag == 'modal' and flag != 'delete' %}
                <button type="submit" class="btn btn-tertiary" id="submit_selected_record"
                        name="submit_selected_record" value="" style="display: flex">Update
                </button>
            {% endif %}
            {% if flag != 'modal' and flag == 'delete' %}
                <button type="submit" class="btn btn-danger" id="delete_selected_record"
                        name="delete_selected_record" value="" style="display: flex">Delete
                </button>
            {% endif %}
        </div>
    </form>
{% endblock modal_post_request %}


{% block create_form %}

    {% if flag != 'view' and flag != 'modal' and flag != 'delete' %}
        <form method="post">
            {% csrf_token %}
            {% csrf_token %}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <div class="d-flex justify-content-center">
                        <div class="alert form-error-alert alert-dismissible fade show" role="alert">
                            {{ error }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% for field in form %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="d-flex justify-content-center">
                            <div class="alert form-error-alert alert-dismissible fade show" role="alert">
                                <p><u><strong>{{ field.label }}:</strong></u> {{ error }}</p>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-8" style="display: flex;flex-direction: column">
                        <div class="row justify-content-between">
                            <div class="col-lg-auto col-md-auto">
                                <div class="form-element">
                                    <label class="form-label" style="min-width: 50px"
                                           for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                                    {{ form.name }}
                                </div>
                            </div>
                            <div class="col-lg-auto col-md-auto ">
                                <div class="form-element" style="margin-right: 2vw">
                                    <label class="form-label" style="min-width: 3.2vw"
                                           for="{{ form.type.id_for_label }}">{{ form.type.label }}:</label>
                                    <span class="form-items">
                                    {{ form.type }}
                                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col-lg-auto col-md-auto" style="gap: 0;margin: 0;padding:0">
                                <div class="form-element">
                                    <label class="form-label" style="min-width: 55px"
                                           for="{{ form.print_name.id_for_label }}">{{ form.print_name.label }}</label>
                                    {{ form.print_name }}
                                </div>
                            </div>
                            <div class="col-lg-auto col-md-auto">
                                <div class="form-element" style="margin-right: 2vw">
                                    <label class="form-label" style="min-width: 4.1vw"
                                           for="{{ form.sh_name.id_for_label }}">{{ form.sh_name.label }}:</label>

                                    {{ form.sh_name }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-auto col-lg-auto" style="gap: 0;margin: 0;padding:0">
                                <div class="form-element">
                                    <label class="form-label" style="min-width: 4.5vw"
                                           for="{{ form.city.id_for_label }}">{{ form.sh_name.label }}</label>
                                    {{ form.sh_name }}
                                </div>
                            </div>

                            <div class="col-md-auto col-lg-auto" style="gap: 0;margin: 0;padding:0">
                                <div class="form-element">
                                    <label class="form-label" style="min-width: 10vw"
                                           for="{{ form.postal_code.id_for_label }}">{{ form.postal_code.label }}:</label>
                                    {{ form.postal_code }}
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-between">

                            <div class="col-md-auto col-lg-auto"
                                 style="gap: 0;margin: 0;padding:0;justify-content: start">
                                <div class="form-element">
                                    <label class="form-label" style="min-width: 4.5vw"
                                           for="{{ form.contact1.id_for_label }}">{{ form.contact1.label }}:</label>
                                    {{ form.contact1 }}
                                </div>
                            </div>
                            <div class="col-md-auto col-lg-auto"
                                 style="gap: 0;margin: 0;padding:0;justify-content: end">
                                <div class="form-element" style="margin-right: 3vw">
                                    <label class="form-label" style="min-width: 3vw"
                                           for="{{ form.contact2.id_for_label }}">{{ form.contact2.label }}:</label>
                                    {{ form.contact2 }}
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col-md-auto col-lg-auto" style="gap: 0;margin: 0;padding:0">
                                <div class="form-element">
                                    <label class="form-label" style="min-width: 4.5vw"
                                           for="{{ form.email.id_for_label }}">{{ form.email.label }}:</label>
                                    {{ form.email }}
                                </div>
                            </div>
                            <div class="col-md-auto col-lg-auto" style="gap: 0;margin: 0;padding:0">
                                <div class="form-element" style="margin-right: 3vw">
                                    <label class="form-label" style="min-width: 50px"
                                           for="{{ form.state_name.id_for_label }}">{{ form.state_name.label }}:</label>
                                    {{ form.state_name }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-auto col-lg-auto" style="gap: 0;margin: 0;padding:0">
                                <div class="form-element mb-0" style="margin-right: 1.5vw">
                                    <label class="form-label" style="min-width: 4.8vw"
                                           for="{{ form.state_code.id_for_label }}">{{ form.state_code.label }}:</label>
                                    {{ form.state_code }}
                                </div>
                            </div>
                            <div class="col-md-auto col-lg-auto" style="gap: 0;margin: 0;padding:0">
                                <div class="form-element" style="margin-right: 1.5vw">
                                    <label class="form-label" style="min-width: 4.5vw"
                                           for="{{ form.sale_state.id_for_label }}">{{ form.sale_state.label }}:</label>
                                    {{ form.sale_state }}
                                </div>
                            </div>

                            <div class="col-md-auto col-lg-auto" style="gap: 0;margin: 0;padding:0">
                                <div class="form-element" style="margin-right: 1vw">
                                    <label class="form-label" style="min-width: 2vw"
                                           for="{{ form.city.id_for_label }}">{{ form.city.label }}:</label>
                                    {{ form.city }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-element">
                                <label class="form-label" style="min-width: 2.6vw"
                                       for="{{ form.address.id_for_label }}">{{ form.address.label }}:</label>
                                {{ form.address }}
                            </div>
                        </div>

                        <div class="row justify-content-between">
                            <div class="col-md-auto col-lg-auto" style="gap: 0;margin: 0;padding:0">
                                <div class="form-element">
                                    <label class="form-label" style="min-width: 4.5vw"
                                           for="{{ form.invoice_prefix.id_for_label }}">{{ form.invoice_prefix.label }}:</label>
                                    {{ form.invoice_prefix }}
                                </div>
                            </div>
                            <div class="col-md-auto col-lg-auto" style="gap: 0;margin: 0;padding:0">
                                <div class="form-element" style="margin-right: 3vw">
                                    <label class="form-label" style="min-width: 50px"
                                           for="{{ form.margin_percentage.id_for_label }}">{{ form.margin_percentage.label }}:</label>
                                    {{ form.margin_percentage }}
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6 col-lg-6 col-sm-8">
                        <div class="row">
                            <div class="col">
                                <div class="form-element">
                                    <label class="form-label" style="min-width: 40px"
                                           for="{{ form.telephone.id_for_label }}">{{ form.telephone.label }}:</label>

                                    {{ form.telephone }}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-element">
                                    <label class="form-label"
                                           for="{{ form.mobile_number.id_for_label }}">{{ form.mobile_number.label }}:</label>
                                    {{ form.mobile_number }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-element">
                                    <label class="form-label" style="min-width: 40px"
                                           for="{{ form.id_no.id_for_label }}">{{ form.id_no.label }}:</label>
                                    {{ form.id_no }}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-element">
                                    <label class="form-label"
                                           for="{{ form.fax.id_for_label }}">{{ form.fax.label }}:</label>
                                    {{ form.fax }}
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-element">
                                    <label class="form-label" style="min-width: 40px"
                                           for="{{ form.area.id_for_label }}">{{ form.area.label }}:</label>
                                    {{ form.area }}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-element">
                                    <label class="form-label"
                                           for="{{ form.customer_representative.id_for_label }}">{{ form.customer_representative.label }}:</label>
                                    {{ form.customer_representative }}
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-element">
                                    <label class="form-label" style="min-width: 40px"
                                           for="{{ form.class_name.id_for_label }}">{{ form.class_name.label }}:</label>
                                    {{ form.class_name }}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-element">
                                    <label class="form-label"
                                           for="{{ form.purchase_type.id_for_label }}">{{ form.purchase_type.label }}:</label>
                                    {{ form.purchase_type }}
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-element">
                                    <label class="form-label" style="min-width: 40px"
                                           for="{{ form.hsn.id_for_label }}">{{ form.hsn.label }}:</label>
                                    {{ form.hsn }}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-element">
                                    <label class="form-label"
                                           for="{{ form.purchase_account.id_for_label }}">{{ form.purchase_account.label }}:</label>
                                    {{ form.purchase_account }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-element">
                                    <label class="form-label" style="min-width: 40px"
                                           for="{{ form.gstin.id_for_label }}">{{ form.gstin.label }}:</label>
                                    {{ form.gstin }}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-element">
                                    <label class="form-label"
                                           for="{{ form.gtax_type.id_for_label }}">{{ form.gtax_type.label }}:</label>
                                    {{ form.gtax_type }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-element">
                                    <label class="form-label" style="min-width: 40px"
                                           for="{{ form.tin.id_for_label }}">{{ form.tin.label }}:</label>
                                    {{ form.tin }}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-element">
                                    <label class="form-label"
                                           for="{{ form.cst.id_for_label }}">{{ form.cst.label }}:</label>
                                    {{ form.cst }}
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-element">
                                    <label class="form-label" style="min-width: 40px"
                                           for="{{ form.formIR.id_for_label }}">{{ form.formIR.label }}:</label>
                                    {{ form.formIR }}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-element">
                                    <label class="form-label"
                                           for="{{ form.std_form.id_for_label }}">{{ form.std_form.label }}:</label>
                                    {{ form.std_form }}
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-8" style="display: flex;flex-direction: column">
                        <div class="form-group">

                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-8 border-left" style="display: flex;flex-direction: column">
                    </div>
                </div>
            </div>
            <div class="row" style="justify-content: center;">
                <div class="col-auto">
                    <button class="btn btn-danger" type="submit" name="submit_record" id="form_submit">
                        Save
                    </button>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}